images/
images_elite
outputs/
outputs*
outputs*/
debug/
__pycache__/
*/__pycache__/
*.png
*.jpg
*.gif
*.pdf
*.eps
*.svg
*.csv
*.txt
*.log
*.out
*.aux
*.zip
debug*.py
prox_npi.py
pipeline_elite_local.py
checkpoint*